h1{
    text-align: center;
    font-family: 'Baloo', cursive;
    font-weight: 5000;
}

body{
    font-size: large;
    border-right: 10px dotted black;
    border-left: 10px dotted black;
}

.bg-img{
    background-image: url("https://bit.ly/37qUyNf");
    min-height: 390px;
}

footer{
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    height: 50px;
}

h2{
    text-decoration: underline;
    font-family: 'Fredoka One', cursive;
}




