h1{
    text-align: center;
    font-family: 'Baloo', cursive;
    font-weight: 1500;
}
body{
    font-size: large;
}
/* .bg-img{
    background-image: url("https://bit.ly/37qUyNf");
    min-height: 390px;
} */